* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}

.slideshow-container {
  background-image: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  filter: brightness(80%);
  z-index: 1;
}

.content.active {
  display: block;
  height: 70vh;
  width: 50vw;
}
.content {
  display: none;
}
.content.active img {
  filter: brightness(150%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.arrow-left button,
.arrow-right button {
  padding: 1rem;
  background: black;
  border: 3px solid rgb(236, 214, 17);
  color: white;
  font-size: 20px;
  opacity: 1;
}
